<div class="container">
<div class="pull-right" style="margin-top:10px">
	<a href="/songs" style="margin-right:10px">Dashboard</a>
	<a rel="nofollow" data-method="delete" href="/sessions/<%= current_user.id %>">Logout</a>
</div>
<br>
<h3>Others Who added <%= @song.artist %> - <%= @song.title %></h3>
<br>
<div class="col-md-12 well">
	<table class="table">
	  <thead class="thead-inverse">
	    <tr>
	      <th>Name</th>
	      <th>Times Added</th>
	    </tr>
	  </thead>
	  <tbody>
	  <% if @users %>
	    <% @users.each do |user| %>
	    <tr>
	      <th><a href="/users/<%= user.user.id %>"><%= user.user.first_name%> <%= user.user.last_name%></a></th>
	      <td><%= Playlist.where(song: @song.id).where(user: user.user.id).count%></td>
	    </tr>
	    <% end %>
	  <% end %>
	  </tbody>
	</table>
	<br><br>
</div>
</div>
<br><br>